.container{
    padding: 20px;
    font-size: 100%;
    text-align: justify;
    margin-bottom: 100px;
   
}.grid{
    padding: 50px;
      font-size: 100%;
      text-align: justify;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  .welcome{
    margin-top: 3%;
    color:#122DB7;
  }
  .treat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    width: calc(30% - 10px);
    margin-bottom: 2px;
    transition: transform 0.3s ease;
    cursor: pointer;
    border: 2px solid #e0e0e0;
    background:linear-gradient(to bottom, rgb(218, 100, 218), rgb(131, 186, 225));
  }
.space{
    display:flex;
    flex-direction:row;
   
    margin-top:4%;
}.content{
    width:50%;
    font-size:larger;
}.image{
    width:50%;
    display:flex;
    margin-left: 5%;
    justify-content: center;
    
}.imageSize{
    width:400px;
    height:400px;
    object-fit: contain;
}.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}.separator1{
    width: 100%;
    border-radius: 20%;

   
    padding: 5%;
    display: flex;
    flex-direction: row;
    border: 1px solid #8274AB;
    
}.separator2{
    width: 100%;
   
    display: flex;
    flex-direction: row;
    margin-bottom: 8%;
    border-radius: 20%;
    border: 1px solid #8274AB;
    

    padding: 5%;
   
}.footer{
    background-color: #8274AB;
    height: 20px;
    position: fixed;
    left: 0;
    right: 0;
    bottom:0;
}
.doctor-card {
  display: flex;
  margin-bottom: 20px;
  border-radius: 10%;
  padding: 5%;
  transition: background-color 0.3s ease;
  
}


.doctor-card:hover {
  background: radial-gradient(circle,rgba(59, 202, 198, 0.435),rgb(190, 120, 190));
  
}

.dimage{
    width:20%;
    display:flex;
    margin-left: 8%;
    margin-right: 8%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}.dcontent{
   width:80%;
   justify-content: center;
 
}.treat:hover {
    transform: scale(1.05); 
  }
  
  .zoomable-image img {
    width: 100%;
   
    transition: transform 0.3s ease;
  
  }
  .zoomable:hover .zoomable-image img {
    transform: scale(0.8); 
  }
  
  .zoomable-text {
    margin-top: 20px;
    width: 80%;
   
  
  }

@media (max-width: 768px) {
    .container img {
        max-width: 100%; /* Allow the image to scale down */
      }.treat{
        flex-direction: column;
        justify-content: center;
        flex: calc(50% - 10px);
        width:100%;
      }
    .space{
        flex-direction: column;
       
    }.content{
        width:100%;
    }.image{
        width:100%;
        margin-left: 0;
        margin-top: 10%;
    }.separator1{
      flex-direction: column;
      background:linear-gradient(to bottom, rgb(179, 95, 179), rgb(149, 189, 218));
    }.separator2{
        flex-direction: column-reverse;
        background: radial-gradient(circle,rgba(59, 202, 198, 0.435),rgb(190, 120, 190));
    }.grid{
      margin: 3%;
      display:inline;
      justify-content: center;
      flex-wrap:none;
      
    }.welcome{
      font-size: 15px;
    }.doctor-card:hover {
        
      background: radial-gradient(circle,rgba(59, 202, 198, 0.435),rgb(190, 120, 190));
      
    }
    .dcontent{
        width:100%;
    }.dimage{
        width:100%;
        margin-left:0;
        margin-right:0;
       
    }
  }