.container{
    padding: 20px;
    font-size: 100%;
    text-align: justify;
    
}.space{
    display:flex;
    flex-direction:row;
    margin-top:4%;
}
@media (max-width: 768px) {
    
    .container img {
      max-width: 100%; /* Allow the image to scale down */
    }.space{
        flex-direction: column;
       
    }
  }